* {
    box-sizing: border-box;
}

body {
    background-color: #FFE3F3;
    color: #2A0354;
}

.heading-container {
    text-align: center;
    font-size: 50px;
}

.subtitle-container {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

h1 {
    margin-bottom: 0;
    text-decoration: 5px underline overline;
    text-underline-offset: 20px;
    line-height: 110px;
}

h2 {
    margin-bottom: 1px;
}

h3 {
    margin-bottom: 1px;
}

#title {
    line-height: 130px;
}

#subtitle {
    margin-top: 0;
}

.list {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

ul {
    list-style: "\2764"; /* Creates heart emoji as dot points <3 */
}

ul li::marker {
    color: #850049;
}

#recipe-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#recipe-list > li > a {
    text-decoration: none;
    margin-left: 10px;
    font-style: italic;
    color: #2A0354;
}

.recipe-heading-container {
    text-align: center;
    font-size: 40px;
}

.heart-para::before,
.heart-para::after {
    content: "\2764";
    color: #850049;
}

.heart-para > a {
    text-decoration: none;
    color: #2A0354;
}

.align-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    max-width: 500px;
}

ol {
    max-width: 500px;
}

li.full-width-img {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}